{% extends "base.html" %}

{% block title %} About {% endblock %} 

{% block heading %}
A propos:
{% endblock %}

{% block content %}
    <p>
       Nous sommes une organisation à but non lucratif qui œuvre dans le domaine du sauvetage des animaux.
        Nous visons à vous aider à vous connecter avec purrfect furbaby pour vous!
        Les animaux que vous trouvez sur notre site Web sont des animaux sauvés et réhabilités.
        Notre mission est de promouvoir l'idéologie «Adoptez, n'achetez pas»!
    </p>
{% endblock %}